@use "sass:map";

body {
    background-color: #201E1F;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

#content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

button {
    -webkit-tap-highlight-color: transparent;
}

#buttons {
    display: flex;
    --button-diameter: min(min(50vw, calc(0.9 * var(--win-height))), 500px);

    > div {
        width: var(--button-diameter);
        height: var(--button-diameter);
        border-radius: 50%;
        box-sizing: border-box;
    }
}

$left-buttons-padding: 0.05;
#buttons-left {
    z-index: 1;
    padding: calc(var(--button-diameter) * $left-buttons-padding);
}

#buttons-right {
    margin-left: calc(var(--button-diameter) * (-0.2));
    display: grid;
    align-items: center;
    justify-items: center;

    > * {
        grid-row: 1;
        grid-column: 1;
    }
}

.big-button {
    $max-offset: calc(0.05 * var(--big-button-diameter));
    --offset-scale: 1;
    width: var(--big-button-diameter);
    height: calc(var(--big-button-diameter) + $max-offset);
    margin-top: calc(-1 * $max-offset);
    border-radius: calc(var(--big-button-diameter) * 0.5);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    outline: solid 2px white;
    outline-offset: 8px;

    &:not(:focus), &:focus:not(:focus-visible) {
        outline: none;
    }

    .top {
        display: block;
        width: var(--big-button-diameter);
        height: var(--big-button-diameter);
        box-sizing: border-box;
        border-radius: 50%;
        margin-bottom: -50%;
        margin-top: calc($max-offset * (1 - var(--offset-scale)));
        border: 5px solid;
        z-index: 2;
        transition: margin-top 300ms ease-out;
    }

    .side {
        display: block;
        width: var(--big-button-diameter);
        flex-grow: 1;
        border-bottom-left-radius: calc(var(--big-button-diameter) * 0.5);
        border-bottom-right-radius: calc(var(--big-button-diameter) * 0.5);
        z-index: 1;
    }

    .bottom {
        $border-thickness: 5px;
        margin: calc(-100% - $border-thickness) #{-$border-thickness} #{-$border-thickness};
        height: calc(var(--big-button-diameter) + 2*$border-thickness);
        width: calc(var(--big-button-diameter) + 2*$border-thickness);
        background-color: black;
        border-radius: 50%;
    }

    &.pressed {
        --offset-scale: 0.25;

        .top {
            transition: margin-top 100ms ease-out;
        }
    }
}

#button-7 {
    --big-button-diameter: calc(var(--button-diameter) * #{1 - 2*$left-buttons-padding});
    $color: #A00000;

    .top {
        background: radial-gradient(circle,
            $color 0%,
            $color 50%,
            darken($color, 5%) 70%
        );
        border-color: darken($color, 15%);
    }

    .side {
        background: darken($color, 5%);
    }

    &.playing {
        .top {
            background: radial-gradient(circle,
                #F44 0%,
                #F22 30%,
                #F00000 35%,
                $color 70%
            );
        }

        .bottom {
            box-shadow: 0 0 50px 10px #F006;
        }
    }
}

#button-8 {
    --big-button-diameter: calc(var(--button-diameter) * 0.6);
    $color: #00008C;

    .top {
        background: radial-gradient(circle,
            $color 0%,
            $color 50%,
            darken($color, 5%) 70%
        );
        border-color: darken($color, 15%);
    }

    .side {
        background-color: darken($color, 5%);
    }

    &.playing {
        .top {
            background: radial-gradient(circle,
                #22F 0%,
                #11F 30%,
                #0000C8 45%,
                $color 70%
            );
        }

        .bottom {
            box-shadow: 0 0 40px 10px #22f6;
        }
    }
}

.small-button {
    --base-rotation: 90deg;
    --actual-rotation: calc(var(--base-rotation) + var(--index) * 36deg);
    --small-button-diameter: calc(var(--button-diameter) * 0.15);
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 0 4px 6px 2px #0004;
    transform:
        rotate(var(--actual-rotation))
        translate(calc((var(--button-diameter) - var(--small-button-diameter)) / -2))
        rotate(calc(-1 * var(--actual-rotation)));
    width: var(--small-button-diameter);
    height: var(--small-button-diameter);
    cursor: pointer;
    transition: border-color 200ms, box-shadow 200ms;

    &.pressed {
        border-color: #0082fc;
        &.small-button {
            box-shadow: 0 0 10px 2px #0082fc;
        }
    }
}

#connect-button {
    background: #111;
    color: #ccc;
    --index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0 0 calc(var(--button-diameter) * 0.005);
    transition: color 400ms, text-shadow 400ms;

    &:disabled {
        $bluetooth-color: #0082fc;
        color: $bluetooth-color;
        text-shadow: 0 0 20px $bluetooth-color;
        cursor: default;
    }
}

#connect-button-icon {
    font-size: calc(var(--button-diameter) * 0.1);
}

$colors: (
        0: #e00,
        1: #ffa500,
        2: #ee0,
        3: green,
        4: #00d,
        5: #eee,
        6: #111
);

@for $i from 0 to 7 {
    $color: map.get($colors, $i);

    #button-#{$i} {
        --index: #{$i};
        background: radial-gradient(circle,
            lighten($color, 2%) 0%,
            lighten($color, 2%) 40%,
            $color 40%,
            darken($color, 5%) 100%
        );
    }
}

.button {
    touch-action: none;
}

@media (orientation: portrait) {
    #buttons {
        flex-direction: column;
        --button-diameter: min(min(50vh, 90vw), 500px);
    }

    #buttons-right {
        margin-left: 0;
        margin-top: calc(var(--button-diameter) * (-0.2));
    }

    .small-button {
        --base-rotation: 180deg;
    }
}

#fullscreen-button {
    background: none;
    border: none;
    padding: 6px;
    border-radius: 50%;
    color: #fffb;
    cursor: pointer;
    position: fixed;
    top: 4px;
    right: 4px;
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    transition: background-color 200ms;

    .material-symbols-rounded {
        font-size: 32px;
    }

    &:hover {
        background: #fff2;
    }
}

:fullscreen #fullscreen-button {
    display: none;
}
